$bg-color: rgb(255, 255, 255);
$text-color: rgb(13, 23, 20);
$text-font: sans-serif;
 
body{
    font-family: $text-font;
    background-color:$bg-color;
    color: $text-color;
}

h1{
    font-size: 45px;
    text-decoration: underline;
}

@import 'reset';
@import 'App'; 
@import 'GeocodeResult'; 
@import 'SearchForm'; 
@import 'Map'; 
@import 'HotelsTable'; 
@import 'HotelsClickable'; 